figure{
    border: 1pt solid;
    background-color: #EDEDDD;
    padding: 5px;
    width: 150px;
    float: right;
    top:150px;
    left:200px;
}

figure img{
    width: 150px;
    height: 150px;

}

figcaption{
    background-color: brown;
    position: absolute;
    top:90px;
    left: 140px

}

figure{
    z-index: 1;
}
figcaption{
    z-index: 1;
}