h1{
    font-size:24pt;
}
h2{
    font-size: 30pt;
    color: lightskyblue;
}
body{
    background-color: grey;
}
[title] {
    cursor: help;
    padding: 0px  13px;
    border-bottom: black;
}

a:link{
    text-decoration: underline;
    color : blue;
}
a:visited{
    text-decoration: underline;
    color : purple;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
}
a:active{
    background-color: yellow;
}